## Laravel
/public/storage
/Homestead.json
/Homestead.yaml
/.env
/.env.backup
/public/hot
/resources/assets/app/components/_old


## Vendor Files
/node_modules
/vendor
/.idea

## Logs & Caches
npm-debug.log
.php_cs.cache

## Test Outputs
/tests/reports
/tests/unit/dist

## FORCE ADD ON PRODUCTION BUILD
/public/js
/public/css
/public/img
/public/fonts
/public/mix-manifest.json
