## Laravel
/public/storage
/Homestead.json
/Homestead.yaml
/.env
/.env.backup
/public/hot


## Vendor Files
/node_modules
/vendor
/.idea

## Logs & Caches
npm-debug.log
.php_cs.cache

## Test Outputs
/tests/reports
/tests/unit/dist

## FORCE ADD ON PRODUCTION BUILD
/public/app/**/*.map
/public/mix-manifest.json
