@import './styles/variables';
@import './styles/methods';
@import './styles/mixins';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~perfect-scrollbar/src/css/main';
@import '~bootstrap-for-vue/dist/scss/bootstrap-for-vue';

.container > .row {
  margin-left: 0!important;
  margin-right: 0!important;
}

html {
  font-size: 14px;
}

.btn.btn-link {
  &:focus {
    outline: none;
  }
  text-decoration: none;
}

.flex-auto {
  flex: 1;
}

[role=button] {
  cursor: pointer;
}

// Move to ./styles/utilities/_colors.scss
.bg-white {
  background-color: white;
}

.form-group[required] {
  .form-control-label:after, legend:after {
    content: '*';
    padding-left: .15rem;
    color: $brand-danger;
  }
}