@import './styles/variables';
@import './styles/methods';
@import './styles/mixins';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~perfect-scrollbar/src/css/main';
@import '~bootstrap-for-vue/dist/bootstrap-for-vue.css';

html {
  font-size: 14px;
}

.flex-auto {
  flex: 1;
}
// Move to ./styles/utilities/_flex.scss
.fl {
  display: flex;
  flex-direction: row;

  &.fl-ver {
    flex-direction: column;
  }

  &.fl-in {
    justify-content: center;
    align-items: center;

    &:before, &:after {
      content: '';
      display: block;
    }
  }

  .fl-auto {
    flex: 1;
  }

  &.fl-middle {
    align-items: center;
  }
}

[role=button] {
  cursor: pointer;
}

// Move to ./styles/utilities/_colors.scss
.bg-white {
  background-color: white;
}
