@import './styles/variables';
@import './styles/methods';
@import './styles/mixins';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~perfect-scrollbar/src/css/main';
@import '~bootstrap-for-vue/dist/scss/bootstrap-for-vue';

html {
  font-size: 14px;
}

.btn.btn-link {
  &:focus {
    outline: none;
  }
  text-decoration: none;
}

.flex-auto {
  flex: 1;
}

[role=button] {
  cursor: pointer;
}

// Move to ./styles/utilities/_colors.scss
.bg-white {
  background-color: white;
}

.form-group[required] {
  .form-control-label:after, legend:after {
    content: '*';
    padding-left: .15rem;
    color: $brand-danger;
  }
}

// Profile shared style.
.profile-field {
  margin-bottom: 2rem;

  .label {
    font-size: .75rem;
    color: #b3b3b3;
  }

  .value:empty:before {
    content: "xxx x xxxx";
    opacity: 0.1;
  }
}

// Fix outlines on buttons
.btn:focus {
  outline: none;
}

